<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar_AmyRay.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{79,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,95}}</string>
                <key>sourceSize</key>
                <string>{79,95}</string>
            </dict>
            <key>Avatar_Nvidia.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{69,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,265},{69,91}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>Avatar_Normand.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatars.png</string>
            <key>size</key>
            <string>{617,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eb4587e20d5a3ca730888bd4157ee1c:116358a885d0c01323c552ff5e2da2e4:263fb50ea6f2cb78640a5fb9a89892f2$</string>
            <key>textureFileName</key>
            <string>avatars.png</string>
        </dict>
    </dict>
</plist>
